.navbar {
	width: 100%;
	height: 150px;
	/* background: dodgerblue; */
}
.top-nav {
	background: #00174f;
	height: 25%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 12px;
	font-weight: 600;
}
.top-nav span u {
	color: white;
	font-size: 11px;
	font-weight: normal;
	margin-left: 5px;
}
.headroom {
	height: 112px;
	width: 100%;
	/* background: rebeccapurple; */
}
.mid-nav-container {
	background: slategray;
	width: 100%;
	height: 100%;
}
.mid-nav {
	background: #f6f5f5;
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0% 2%;
}
.store a,
.logo a {
	cursor: pointer;
	text-decoration: none;
}
.search-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background: seagreen; */
	width: 8%;
}
.down-nav {
	background: #e3e1f9;
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0% 3%;
}
.down-nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background: teal; */
	width: 50%;
}
.down-nav ul li {
	list-style: none;
}
.down-nav ul li a {
	text-decoration: none;
	color: #00174f;
}

.search {
	background: #ffffff86;
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0px;
	bottom: 0px;
	z-index: 20;
	/* display: none; */
}

.search-con {
	background: white;
	height: 100vh;
	width: 31%;
	position: absolute;
	right: 0px;
	padding: 2%;
	display: flex;
	justify-content: space-between;
}
.search-inp {
	/* background: plum; */
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	/* height: 30px; */
}
.search-inp svg {
	height: 25px;
	width: 25px;
	/* background: palegreen; */
	/* align-self: center; */
}
.search-input {
	margin-left: 2%;
	width: 100%;
	padding: 1%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 15px;

	/* height: 30px; */
}
.search-input:focus {
	/* margin-left: 2%; */
	/* width: 100%;
	padding: 3%; */
	background: transparent;
	border: none;
	outline: none;
	/* height: 30px; */
}
.search-input::placeholder {
	font-size: 17px;
}
.cancel {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background: #e4e4e496;

	border: none;
	outline: none;
	cursor: pointer;
}

/* signin */

.signin-container {
	height: 100vh;
	width: 100%;
	background: #00000086;
	position: fixed;
	inset: 0px;
	z-index: 300;
}
.sign-in {
	width: 31%;
	height: 100%;
	padding: 4% 40px 0px 40px;
	background: white;
	position: absolute;
	right: 0px;
}
.cancel-sign-in-btn-con {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 74px;
}
.cancel-sign-in {
	width: 32px;
	height: 32px;
	background: #e4e4e4;
	border: none;
	outline: none;
	border-radius: 50%;
	font-size: 17px;
	font-weight: medium;
	cursor: pointer;
}
.signin-sign-up {
	/* background: palegreen; */
	margin-top: 24px;
	display: flex;
	justify-content: center;
	/* padding: 0px 5%; */
}
.dont-have-account {
	font-size: 15px;
	font-weight: 500;
	color: grey;
}
.signin-sign-up a {
	font-size: 15px;
	font-weight: 500;
}

/* user-menu */
.user-menu {
	background: #00174f;
	width: 15%;
	position: absolute;
	top: 13%;
	right: 0px;
	z-index: 100;
	padding: 2%;
	display: block;
}
.signin-link {
	color: white;
	cursor: pointer;
	font-size: 15px;
	font-weight: medium;
	margin-bottom: 0.8rem;
}
.signin-link:last-child {
	margin-bottom: 0px;
}

.signin-link a {
	color: white;
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
	font-weight: medium;
	/* margin-bottom: 1rem; */
}
