.cartbag-overlay {
	height: 100vh;
	width: 100%;
	background: #00000086;
	position: fixed;
	inset: 0px;
	z-index: 300;
}
.cartbag-container {
	width: 37%;
	height: 100%;
	background: white;
	position: absolute;
	right: 0px;
}

.cartbag-title-container {
	padding: 12% 8% 0px 8%;
	display: flex;
	justify-content: space-between;
	height: 15%;
	/* background: palegoldenrod; */
	align-items: flex-start;
}
.cartbag-title {
	font-size: 23px;
	font-weight: bold;
}
.cartbag-cancel-btn {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background: #e4e4e496;

	border: none;
	outline: none;
	cursor: pointer;
}
.cartbag-product-container {
	height: 50%;
	/* background: grey; */
	/* margin-top: 40px; */
	padding: 0px 8% 0px 8%;
	overflow-y: scroll;
}
.cartbag-product-container::-webkit-scrollbar {
	width: 0px;
}
.cartbag-product-sub-container {
	/* background: palegoldenrod; */
	/* height: 100%; */
	padding-bottom: 5px;
}
.cartbag-product-item {
	display: flex;
	justify-content: space-between;
	/* background: peru; */
	margin-bottom: 20px;
}
.cartbag-product-item-img-con {
	background: #80808063;
	width: 32%;
	height: 190px;
}
.cartbag-product-item-details {
	width: 65%;
	/* background: yellowgreen; */
}
.cartbag-product-item-title {
	font-size: 15px;
	font-weight: 700;
	padding-right: 2%;
	margin-bottom: 5px;
}
.cartbag-product-item-color-and-size {
	font-size: 14px;
	font-weight: 500;
	color: grey;
	margin-bottom: 11px;
}
.cartbag-product-item-price {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 50px;
}
.cartbag-product-item-qty-and-remove-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.cartbag-product-item-qty {
	width: 30%;
	height: 46px;
	border-radius: 3px;
	outline: none;
	border: 1px solid #37549a;
	background: transparent;
}
.cartbag-product-item-remove-item u {
	font-size: 15px;
	font-weight: 500;
	color: grey;
	cursor: pointer;
}
.review-and-checkout-container {
	border-top: 1px solid grey;
	margin-top: 2px;
	padding: 4% 8% 0px 8%;
	height: auto;
}
.subtotal-and-price {
	display: flex;
	justify-content: space-between;
}
.subtotal {
	display: flex;
	gap: 0.5rem;
}
.subtotal-text {
	font-size: 17px;
	font-weight: 500;
}
.subtotal-item-amount {
	font-size: 17px;
	font-weight: 500;
	color: grey;
}
.cartbag-price {
	font-size: 17px;
	font-weight: 500;
}
.review-and-checkout-btn {
	outline: none;
	border: none;
	background: #e0e0e0;
	color: #707070;
	font-size: 15px;
	font-weight: 700;
	width: 100%;
	padding: 4% 0px;
	margin-top: 27px;
	border-radius: 3px;
	cursor: pointer;
}
.review-and-checkout-btn a {
	text-decoration: none;
}
.shipping-and-tax {
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	margin-top: 27px;
}
