.quick-slide-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: rgba(5, 0, 0, 0.5);
    /* background: green; */
    display: none;
        
}


.quick-slide{
    background: #F5F5F2;
    width: 60%;
    height: 100%;
    z-index: 101;
    position: fixed;
    right: -100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}



.quick-view-flex-con{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	overflow-y: scroll;
	color: #00174F;
	
}

.quick-view-flex-con::-webkit-scrollbar {
	width: 0px;
}

.quick-view-flex-con::-webkit-scrollbar-thumb {
	background: slategray;
}

.quick-prdt-images-con{
	width: 50%;
	height: 100%;
	
}

.quick-prdt-details-con{
	width: 50%;
	height: 100vh;
	padding: 20px;
	
}

.quick-prdt-images-con-inner{
	width: 100%;
	height: 60%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

}

.quick-product-img{
	width: 100%;
	height: 80%;


}

.quick-product-img img{
	width: 100%;
	height: 100%;
}


.quick-prdt-details-con-inner{
	width: 100%;
	height: 100%;
	
}

.is-sticky {
	position: sticky;
	top: 0;
	right: 0;
	
}


.details-body{
	width: 100%;
	height: fit-content;
	margin-top: 100px;
}


.company-name {
    /* font-family: 'Dancing Script', cursive; */
	font-size: 12px;
	text-align: center;
	opacity: .7;
	margin-bottom: 10px;
}
.product-quick-view-product-title {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 600;
	text-align: center;

}
.product-quick-view-details-price {
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: 500;
	text-align: center;
}

.product-quick-view-color {
	width: 100%;
	margin: 30px 0 10px 0;
	display: flex;
	flex-direction: column;

}


.quickview-color-span{
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: 500;
	width: fit-content;
	margin: auto;
}


.product-quick-view-available-color {
	
	font-weight: 500;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin:10px auto;
	background: #000;
}


.product-quick-view-size{
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: 500;
	text-align: center;
}


.quick-details-qty-con{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    width: 100%;
    height: fit-content;
    margin: 20px 0 25px 0;
	
}

.quick-lbl{
    color: #00174F;
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}



.quick-qty-con{
    color: #00174F;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: fit-content;
    height: fit-content;
    border: 1px solid #00174F;

}

.quick-qty-minus-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;

}

.quick-qty-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    border-left: 1px solid #00174F;
    border-right: 1px solid #00174F;
    
}

.quick-qty-plus-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;

}

.quick-qty-plus-btn:hover, .quick-qty-minus-btn:hover{
    background: #fff;
    color: #321729;

}

.add-to-bag-btn{
    background: #00174F;
    font-size: 16px;
    font-weight: 500;
	margin-top: 30px;
    color: #fff;
    transition: all ease-in-out 0.5s;
}

.add-to-bag-btn:hover{
    background: transparent;
    border: 1px solid #00174F;
    color: #00174F;
}

.full-details-btn{
	font-size: 10px;
	text-transform: uppercase;
	width: fit-content;
	padding: 5px 0;
	border-bottom: 1px solid #00174F;
	margin: 15px auto;
	cursor: pointer;
}

.quick-product-choices-con{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}

.quick-product-choices-text{
	font-size: 12px;
	
}

.quick-product-choices{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}


.quick-product-choices-el{
	font-size: 10px;
	width: fit-content;
	padding: 2px 0;
	border-bottom: 1px solid #00174F;
	cursor: pointer;
	margin-bottom: 5px;
}



@media (max-width:1150px) and (min-width: 960px){

    .quick-slide{
		width: 80%;
	}

} 

@media (max-width:960px) and (min-width: 0px){

    .quick-slide{
		width: 100%;
	}

} 

