input[type="checkbox"] {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	/* overflow: hidden; */
	/* white-space: nowrap; */
	width: 1px;
	position: absolute;
}
.checkbox {
	/* display: inline-block; */
	height: 100%;
	width: 100%;
	background: transparent;
	border: 1px #00174f solid;
	border-radius: 3px;
}
.checkbox--active {
	border-color: #00174f;
	background: #00174f;
	border-radius: 3px;
}
