.signup {
	padding: 3% 34% 10% 34%;
	/* background: #00808027; */
	height: 100%;
	width: 100%;
}
.signup-header {
	text-align: center;
	font-size: 35px;
	/* background: teal; */
	/* letter-spacing: 4px; */
}
.signup-form {
	/* background: tan; */
	display: block;
	margin-top: 20px;
}
.signup-input {
	width: 100%;
	padding: 3% 3%;
	outline: #00174f;
	border: 1px solid #00174f;
	border-radius: 3px;
	margin-bottom: 13px;
	background: transparent;
	font-size: 1rem;
	font-weight: 400;
}
.signup-input::placeholder {
	font-size: 16px;
	color: grey;
}
.signup-check {
	/* background: turquoise; */
	display: flex;
	justify-content: space-between;
	margin-top: 14px;
}
.signup-checkbox-con {
	height: 18px;
	width: 18px;
}
.signup-check-text {
	width: 92%;
	font-size: 14px;
	line-height: 21px;
}
.signup-submit-btn {
	width: 100%;
	background: #00174f;
	padding: 3%;
	color: white;
	font-size: 15px;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 3px;
	margin-top: 30px;
	cursor: pointer;
}
.agree-to-terms {
	font-size: 14px;
	margin-top: 20px;
}
