/* @import url("https://fonts.cdnfonts.com/css/futura-std-4"); */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #00174f;
	font-family: "Futura Std", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
