
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
  background: #F5F5F2;
	font-family: "Futura Std", sans-serif;
  overflow-y: scroll;
	overflow-x: hidden;


}
body::-webkit-scrollbar {
	width: 2px;
}

body::-webkit-scrollbar-thumb {
	background: slategray;
}

.no-data-con{
  margin: 20px auto;
  border: 1px solid red;
}

.no-data{
  font-size: 14px;
  opacity: 0.8;
  
}